<TMPL_INCLUDE NAME="header.tmpl">

<!-- Begin main content -->

<div id="cfg-prefs">

<TMPL_IF NAME="MESSAGE">
  <p class="message"><TMPL_VAR NAME="MESSAGE"></p>
</TMPL_IF>

<TMPL_IF NAME="BLOGS">
<h2>Your weblog</h2>
<p>Choose a weblog to manage its podcasts.</p>

<div class="tabs">
<!-- ul>
<li class="yah"><a href="<TMPL_VAR NAME="SCRIPT_URL">?__mode=default"><MT_TRANS phrase="Blogs"></a></li>
</ul -->
</div>

    <div class="list" id="blogs">
    <table cellspacing="0">
    <thead>
    <tr>
        <th width="50%">Blog</th>
        <th width="20%"># podcasts</th>
    </tr>
    </thead>
    <tbody>

    <TMPL_LOOP NAME="BLOG_LOOP">
    <tr class="<TMPL_IF NAME="BLOG_ODD">odd<TMPL_ELSE>even</TMPL_IF>">
        <td><a href="<TMPL_VAR NAME="SCRIPT_URL">?__mode=list_podcasts&blog_id=<TMPL_VAR NAME="BLOG_ID">"><TMPL_VAR NAME="BLOG_NAME"></a></td>
        <td><TMPL_VAR NAME="BLOG_NUM_PODCASTS"></td>
    </tr>
    </TMPL_LOOP>
    </tbody>
    </table>
<TMPL_ELSE>
  <p class="message">You have no blogs</p>
</TMPL_IF>
    
<TMPL_INCLUDE NAME="footer.tmpl">
