<TMPL_INCLUDE NAME="header.tmpl">

<!-- Begin main content -->

<div id="cfg-prefs">

<TMPL_IF NAME=MESSAGE>
  <p class="message"><TMPL_VAR NAME=MESSAGE></p>
</TMPL_IF>

<TMPL_UNLESS NAME=ERROR>
<h2>Podcast <TMPL_IF NAME=PODCAST_ALT_TITLE><TMPL_VAR NAME=PODCAST_ALT_TITLE><TMPL_ELSE><TMPL_VAR NAME=PODCAST_TITLE></TMPL_IF></h2>
	<ul>
	<TMPL_IF NAME=PODCAST_FILE><li>File: <TMPL_VAR NAME=PODCAST_FILE></li></TMPL_IF>
	<TMPL_IF NAME=PODCAST_SIZE><li>Size: <TMPL_VAR NAME=PODCAST_SIZE></li></TMPL_IF>
	<TMPL_IF NAME=PODCAST_TYPE><li>Type: <TMPL_VAR NAME=PODCAST_TYPE></li></TMPL_IF>
	</ul>
	<ul>
	<TMPL_IF NAME=PODCAST_TITLE><li>Title: <TMPL_VAR NAME=PODCAST_TITLE></li></TMPL_IF>
	<TMPL_IF NAME=PODCAST_ARTIST><li>Artist: <TMPL_VAR NAME=PODCAST_ARTIST></li></TMPL_IF>
	<TMPL_IF NAME=PODCAST_ALBUM><li>Album: <TMPL_VAR NAME=PODCAST_ALBUM></li></TMPL_IF>
	<TMPL_IF NAME=PODCAST_GENRE><li>Genre: <TMPL_VAR NAME=PODCAST_GENRE></li></TMPL_IF>
	<TMPL_IF NAME=PODCAST_GENERATOR><li>Generator: <TMPL_VAR NAME=PODCAST_GENERATOR></li></TMPL_IF>
	<TMPL_IF NAME=PODCAST_STATUS><li>Status: <TMPL_VAR NAME=PODCAST_STATUS></li></TMPL_IF>
	<TMPL_IF NAME=PODCAST_LAST_SCAN_ON><li>Status: <TMPL_VAR NAME=PODCAST_LAST_SCAN_ON></li></TMPL_IF>
	</ul>

	<form method="POST" action="<TMPL_VAR NAME=SCRIPT_URL>">
	<input type="hidden" name="__mode" value="save_podcast" />
	<input type="hidden" name="file" value="<TMPL_VAR NAME=PODCAST_KEY>" />
	<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=PODCAST_BLOG_ID>" />
	
	<div>
	<label id="podcast_alt_title">Podcast title:</label><br />
	<input type="text" name="podcast_alt_title" value="<TMPL_VAR NAME=PODCAST_ALT_TITLE>" size="60" />
	<br /><br />
	</div>
	<div>
	<label id="podcast_alt_description">Podcast description:</label><br />
	<textarea name="podcast_alt_description" cols="60" rows="5"><TMPL_VAR NAME="PODCAST_ALT_DESCRIPTION"></textarea>
	<br /><br />
	</div>

<input type="submit" value="Save">
</form>
</TMPL_UNLESS>

<TMPL_INCLUDE NAME="footer.tmpl">