<TMPL_INCLUDE NAME="header.tmpl">

<!-- Begin main content -->

<div id="cfg-prefs">

<TMPL_IF NAME=MESSAGE>
  <p class="message"><TMPL_VAR NAME=MESSAGE></p>
</TMPL_IF>
<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
    <input type="hidden" name="__mode" value="feed_save" />
    <!-- input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" / --> 

    <h2><MT_TRANS phrase="Save feed"></h2>

    <div class="field">
    <p>
    <p>
    <label for="feed_title"><MT_TRANS phrase="Title:"></label> <input value="<TMPL_VAR NAME=FEED_TITLE ESCAPE=HTML>" type="text" name="feed_title" id="feed_title" />
    </p>
    </div>
    <p>
    <label for="feed_link"><MT_TRANS phrase="URL:"></label>
    <br/>
    <select name="feed_link">
    <TMPL_LOOP NAME=FEED_LINK_LOOP>
    <option value="<TMPL_VAR NAME=FEED_LINK ESCAPE=HTML>"><TMPL_VAR NAME=FEED_LINK></option>
    </TMPL_LOOP>
    </select>
    </p>
    </div>
    <div class="field">
    <input type="submit" value="Save" />
    </p>
</form>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
