<script type="text/javascript">
function toggleBMTagsDrivers(input) {
    var available_drivers = [ 'delicious', 'hatena' ];
    var use_drivers = new Array ();
    for (var i = 0; i < available_drivers.length; i++) {
        var driver = available_drivers[i];
        var use = eval("input.form.use_" + driver + ".checked");
        if (use) use_drivers.push(driver);
    }
    input.form.drivers.value = use_drivers.join(",");
}
</script>

<div class="setting grouped">
<div class="label"><MT_TRANS phrase="Social Bookmarks:"></div>
<div class="field">
<input type="hidden" name="drivers" value="<TMPL_VAR NAME=DRIVERS>" />
<input type="checkbox" onclick="toggleBMTagsDrivers(this)" name="use_delicious" /> del.icio.us <a href="http://del.icio.us/" target="_blank"><img src="http://del.icio.us/img/delicious.gif" width="12" height="12" alt="del.icio.us" style="border: 0; vertical-align: middle" /></a><br />
<input type="checkbox" onclick="toggleBMTagsDrivers(this)" name="use_hatena" /> <MT_TRANS phrase="Hatena::Bookmark"> <a href="http://b.hatena.ne.jp/"><img src="http://b.hatena.ne.jp/images/append.gif" width="16" height="12" alt="Hatena::Bookmark" style="border: 0; vertical-align: middle" /></a><br />
</div>
</div>

<div class="setting grouped">
<div class="label">Tagging users:</div>

<div class="field"><MT_TRANS phrase="Require more than"><input type="text" name="min_user" size="2" value="<TMPL_VAR NAME=MIN_USER>" /> <MT_TRANS phrase="users tag.">
</div>
</div>

<div class="setting">
<div class="label"><MT_TRANS phrase="Cache lifetime:"></div>
<div class="field">
<input type="text" size="4" value="<TMPL_VAR NAME=CACHE_TTL ESCAPE=HTML>" /> <MT_TRANS phrase="secs.">
</div>
</div>

